:root {
    --color-primary: rgb(23, 155, 215);
    --color-secondary: rgb(45, 45, 45);
    --color-heading: var(--color-primary);
    --color-body: var(--color-secondary);
    --color-black: rgb(33, 37, 41);
    --color-white: rgb(255, 255, 255);
    --color-bg1: #f0f0f0;
    --color-bg2: rgb(64, 64, 64);
    --color-bg3: rgb(44, 44, 44);
    --color-border: rgb(112, 112, 112);
    --color-primary-light: rgb(224, 245, 254);
}

* ::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Typography */
html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Regular";
    src: url(./fonts/hk-grotesk/HKGrotesk-RegularLegacy.woff);
}

@font-face {
    font-family: "Medium";
    src: url(./fonts/hk-grotesk/HKGrotesk-Medium.woff);
}

@font-face {
    font-family: "SemiBold";
    src: url(./fonts/hk-grotesk/HKGrotesk-SemiBold.woff);
}

@font-face {
    font-family: "Bold";
    src: url(./fonts/hk-grotesk/HKGrotesk-Bold.woff);
}


body {
    background: #f4f4f4;
    /* z-index: 1; */
    font-family: "Regular";
    margin: 0 auto;
    font-size: 1.8rem;
    color: var(--color-secondary);
}

.display1 {
    font-family: "Bold";
    text-align: left;
}

.display2 {
    display: block;
    font-family: "Regular";
    font-size: 3rem;
    margin-top: 30px;
}

.display3 {
    font-family: "Bold";
    font-size: 3rem;
}

.display4 {
    font-family: "Bold";
    font-size: 2.4rem;
}


h1 {
    font-size: clamp(3rem, 2.5vw, 5rem);
}

h2 {
    font-size: clamp(2.8rem, 1.6vw, 3.2rem);
}

h3 {
    font-size: clamp(1.8rem, 1.2vw, 2.2rem);
    /* font-family: 'Medium'; */
    font-family: 'Regular';
}

h4 {
    font-size: clamp(1.6rem, 1.0vw, 2.0rem);
    font-family: 'SemiBold';
}

h5,
.display5 {
    font-size: 1.8rem;
    font-family: "Regular";
}

h6 {
    font-size: 1.6rem;
    color: #f4f4f4;
}


/* reset */
ul {
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
}

.navbar {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    z-index: 99999;
}

p {
    margin-top: 0;
}

ul>li>a {
    list-style: none;
    color: var(--color-white);
    text-decoration: none;

}

a {
    font-size: 1.8rem;
    text-align: center;

}

footer a:hover {
    text-decoration: none;
    color: #929292;
}

.headerbar {
    width: 100%;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

#nunc__logo {
    height: 45px;
    margin: 4px auto;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 10px;
    color: var(--color-border);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1rem 1rem;
    text-align: center;
    cursor: pointer;
}

.dropdown-item a {
    font-size: 1.6rem !important;
}

.custom-dropdown ul {
    list-style: none;
    padding: unset;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.navbar-nav li.custom-big:hover>ul.dropdown-menu.custom-dropdown {
    display: inline-block;
    margin: 0;
    max-height: 50vh;
    overflow-y: scroll;
}

#collapsibleNavbar {
    margin: 0 auto;
}

.dropdown-menu {
    position: absolute;
    margin-top: 0;
    left: auto !important;
    right: 0;

}

.custom-big .custom-dropdown {
    right: 0;
    margin-right: -300%;
    left: auto !important;
}

.custom-dropdown {
    background: var(--color-bg1);
    color: var(--color-black);
    height: auto;
    position: relative;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 10%);
}

.slick-initialized .slick-slide:focus-visible {
    outline: none;
}

.banner_heading {
    position: absolute;
    top: 30%;
    left: 10%;
    color: var(--color-white);
    z-index: 9999;
    font-family: "Bold";
    text-align: left;
}
/* bigdata banner  */
.banner-text {
    position: absolute;
    top: 30%;
    left: 5%;
    color: var(--color-white);
    z-index: 9999;
    font-family: "Bold";
    text-align: left;
}

.banner-text>h2 {
    font-family: "Regular";
}
/* indexhtml banner carousal readmore btn */
.read_more {
    font-size: 1.3rem;
    background: transparent;
    border: 2px solid #179BD7;
    color: var(--color-white);
    font-family: "Medium";
    padding: .5rem 2rem;
    outline: none;
    margin-top: 0.1rem;
}

.read_more:focus {
    outline: none;
}

.read_more:hover {
    background: var(--color-white);
    color: var(--color-primary);
    transform: 0.5s;
    transition: all 0.9s;
}



#banner_carousel .slick-img,
.hero-container .banner-img {
    width: 100%;
    height: 280px;
    max-height: 500px;
    object-fit: cover;

}

.slick-slide {
    margin: 0 auto !important;
    overflow: hidden;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

#client_carousel .slick-next {
    right: -20px !important;
    z-index: 1;

}

#client_carousel .slick-prev {
    left: -20px !important;
    z-index: 1;
}


.bg-shade {
    background: var(--color-bg1);
}

.bg-bright {
    background: var(--color-white);

}


.content-space {
    padding: 40px 20px;
}

#banner_carousel .slick-dots {
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--color-primary);
    list-style: none;
    text-align: center;
}

.what-we-offer {
    top: 0;
}

.para-pad {
    padding: 10px;
}

.heading {
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 2.4rem;
    font-family: "Bold";
    color: var(--color-heading);
    margin: 0 auto;
    padding: 1.5rem 0;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-item:hover {
    color: var(--color-white);
    text-decoration: none;
    background-color: #179BD7;
}

.para {
    width: 100%;
    line-height: 1.6;
    font-family: "Regular";
    margin: 0 auto;
    letter-spacing: 0.2px;
    color: var(--color-body);
}

/* added  to p-tag for the alignment in salesforce.html to avoid unwanted styles */
/* .p-para {
    text-align: left;
} */

.clients-left,
.clients-right {
    display: none;
}

#client_carousel .slick-next,
#client_carousel .slick-prev {
    top: 40px;

}

#client_carousel .slick-prev:before,
#client_carousel .slick-next:before {

    color: var(--color-border);
}

.clients-message-content {
    color: rgb(95, 96, 96);
}

.what-our-clients-message {
    width: 90%;
    margin: auto;
}


.salesforce-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.services-item {
    min-height: calc(100% - 20px);
}

.services-item:last-child {
    position: relative;
    left: 60%;
}

.mobility-item {
    min-height: calc(100% - 20px);
}

.mob-img {
    margin: 40px auto;
    width: 100%;
    max-width: fit-content;
    -webkit-box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 1);
    -moz-box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 1);
    box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 1);
}

.services-item > a {
    text-align: center;
    text-decoration: none;
    color: var(--color-black);
}

.services-border:hover .service-white-bg {
    width: 100px;
    height: 100px;
}

.service-border {
    background: #a1e0ff66;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.20);
    margin-bottom: 20px;

}

.service-img {
    width: 65px;
    height: 65px;
}


.service-white-bg {
    background: var(--color-white);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.20);

}

.heading-space {
    margin: 3rem auto;
    color: var(--color-primary);
    font-family: Bold;
}

.flex-item-2 {
    padding: 0;
    width: 100%;
}

.flex-item-1 {
    width: 100%;
    margin-bottom: 75px;
    padding: 0 18px;

}

.blockquote-footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.1rem;
    color: var(--color-primary);
    justify-content: center;
    text-align: center;
}

.blockquote-footer::before {
    display: none;
}

.our-latest-work-wrapper {
    padding-top: 0rem;
}

#our_latest_work .grid-container {
    margin: 60px 0;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.our-latest-work-item {
    position: relative;
    width: 100%;
    min-height: 90px;
    border-top: 4px solid dodgerblue;

}

.our-latest-work-content {
    margin-top: 50px;
    height: calc(100% - 50px);
}


.our-latest-work-circle {
    width: 70px;
    height: 70px;
    border-radius: 50rem;
    background: var(--color-primary-light);
    border: 4px solid var(--color-primary);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-50% - 4px));
}



.our-latest-work-item:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(8px, 1.8rem, 15px);
    height: clamp(8px, 1.8rem, 15px);
    transform: translate(-50%, calc(-50% - 2px));
    border-radius: 50rem;
    background-color: dodgerblue;
}

.our-latest-work-circle img {
    width: 60px;
    height: 60px;
}

.our-latest-work-item:last-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(8px, 1.8rem, 15px);
    height: clamp(8px, 1.8rem, 15px);
    transform: translate(50%, calc(-50% - 2px));
    border-radius: 50rem;
    background-color: dodgerblue;
}

.more-mob-btn {
    display: block;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 2.4rem;
    margin: 0 auto;
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    padding: 0 24px;
    background: none;
}


#case_studies_carousel .slick-prev:before {
    left: 0%;
    z-index: -2;
    position: absolute;
    color: var(--color-border);
    bottom: 110px;

}

#case_studies_carousel .slick-next:before {
    right: 0%;
    position: absolute;
    color: var(--color-border);
    z-index: -2;
    bottom: 110px;

}

#case_studies_carousel .slick-next {
    right: 0%;
    z-index: 2;
    position: absolute;
}

#case_studies_carousel .slick-prev {
    left: 0%;
    position: absolute;
    z-index: 2;
}

#case_studies_carousel .slick-dots {
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--color-primary);
    list-style: none;
    text-align: center;
}

.case-studies-container .case-studies img {
    display: block;
    margin: auto;
}

.case-studies-body {
    width: 100%;
    font-size: 1.8rem;
}

.insights-box {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.insights-item {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: var(--color-primary);
}


.awards-section {
    width: 90%;
    margin: 0 auto;
    height: 185px;
    display: flex;
    justify-content: center;
}

.awards-section img {
    width: 31.3%;
    height: auto;
    margin: 1rem 1%;
    object-fit: contain;
}


.footer-top-holder {
    background-color: var(--color-bg2);
    width: 100%;
    color: #fff;
    margin: 0 auto;
}


.list-unstyled {
    padding-left: 0;
}

.footer-bottom-holder {
    background-color: var(--color-bg3);
}

.footer-wrapper {
    padding: 20px;
    width: 100%;
    text-align: left;
}

.nunc_sys_logo {
    width: 150px;
}

.social_media_icons {
    width: 60%;
    margin: 1rem 1rem 0;
}

.social_media_icons img {
    margin-right: 1rem;
    width: 3.5rem;
}

.footer-bottom-holder span,
.copyright>div>a {
    font-size: 1.6rem;
    margin: 2rem auto;
}

.copyright {
    text-align: center;
    background: var(--color-bg3);
    color: white;
    padding: 2rem 0;
}

.company-title {
    font-size: 2rem;
    padding-bottom: 1rem;
}


.g-map {
    border-radius: 50%
}

.chatbot:hover .default_chatbot {
    display: none;
}

.hover_chatbot {
    display: none;
}

.chatbot:hover .hover_chatbot {
    display: block;
}

.chatbot {
    position: fixed;
    right: 2%;
    z-index: 999;

}

.chatbot a>img {
    width: 100px;
}


.flex-50 {
    width: 100%;
}

a.anchor {
    text-decoration: none;
    color: var(--color-white);
}

.card-img {
    width: 80px;
}

.card {
    border: none;
}

.big-data {
    text-align: center;
    align-items: center;
    background-color: var(--color-bg1);
    border-radius: 20px;
    border: 1px solid var(--color-primary);

}

.text-title-big-data {
    color: var(--color-primary);
    /* margin-top: .75rem; */
}

.mob-dev-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.mob-dev-box-item {
    padding: 10px;
}

.mob-dev-img {
    width: 100px;
    height: 100px;
}

.card-row {
    gap: 20px 0;
}

.card-text {
    color: var(--color-black);
    font-size: 1.6rem;
    margin-top: 15px;
}

tr {
    justify-items: center;

}

.side-heading {
    width: 140px;
}

.benefit-container {
    margin: 20px auto;
}

.dots {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-black);
    margin-right: 8px;

}

.banner-img {
    width: 100%;

}

.banner {
    margin: 0 auto;
    margin-top: 60px;
}

.content-img {
    max-width: 100%;
}

.sf_bg {
    padding: 0;
    background: url(./img/salesforce/salesforce_banner.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
}

.mobility_bg {
    padding: 0;
    background: url(./img/mobility/mobility_banner.svg);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
}

.web_bg {
    padding: 0;
    background: url('./img/webdev/web_development_banner.svg');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
}

.mobility_bg.desktop_img,
.sf_bg.desktop_img,
.web_bg.desktop_img {
    display: none;
}

.mbl_img {
    display: block;
    width: 100%;
}

.scale-img {
    margin-bottom: 20px;
}

.mob-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 4px 8px 0px rgb(112 112 112);
    align-self: center;
    width: 94%;
    margin: 20px 30px;
}

.center-object {
    position: relative;
    left: 60%;
}

.mob-grid-item {
    max-width: 180px;
    text-align: center;
    margin: auto;
}

.arch-box {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    min-width: 250px;
    height: 150px;
    justify-content: space-evenly;
    background: #FBFDFF;
    width: calc(100% / 3);
}

.arch-grid-container {
    width: 90%;
    margin: auto;
    gap: 30px;
}

.mobtech-grid-container ,.webtech-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 4px 8px 0px rgb(112 112 112);
    width: 90%;
    margin: 20px auto;
}

.web-dev-item {
    border: 1px solid var(--color-primary);
    background: rgb(251, 253, 255, 255);
    border-radius: 15px;
    max-width: 220px;
    width: 100%;
    height: 150px;
    padding: 10px;
}

.mob-grid-img {
    width: 100px;
}

.scale-item {
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    max-width: 240px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.webdev-scalable-container {
    gap: 50px;
    margin: 30px 0;
}

.webdev-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 0 auto;
}

.webdev-img {
    width: 30px;
    height: 30px;
}

.webdev-grid-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 40px;
}

.webdev-grid-item {
    min-height: 150px;
    border-top: 2px solid #707070;
}

.webdev-grid-item:nth-child(1)::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: -9px;
    background: #707070;
    transform: translate(-50%, 0);
}

.webdev-grid-item:nth-child(1) .engage {
    background: #6f75d6;
}


    
.webdev-grid-item:nth-child(2) .ui_design {
    background: #4e8fd1;
}

.webdev-grid-item:nth-child(3) .support {
    background: #49afdb;
}


.webdev-grid-item:nth-child(4) .launch {
    background: #52c9bf;
    z-index: 2;
}
.webdev-grid-item:nth-child(5) .upgrade {
    background: #62c87a;
}

.webdev-grid-item:nth-child(6) .market {
    background: #e9b141;
}
.webdev-grid-item:nth-child(7) .testing {
    background: #ecd856;
}
.webdev-grid-item:nth-child(7) {
    grid-row: 4/5;
    grid-column: 2/3;

}


.web-dev-item img {
    height: 50px;
    margin-bottom: 10px;
}

.webdev-content {
    margin-top: 40px;
    height: calc(100% - 40px);
    text-align: center;
}

.web-dev-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 20px auto;
}
@media screen and (max-width:600px) {
    .webdev-grid-container {
        margin-top: 50px;
        margin-bottom: -40px;
    }
    .webdev-grid-item:nth-child(2) {
        border-right: 2px solid #707070 !important;
    }
    
    .webdev-grid-item:nth-child(6) {
        border-right: 2px solid #707070 !important;
    }

    .webdev-grid-item:nth-child(7) {
        grid-row: 4/5;
        grid-column: 2/3;

    }
    .side-space{
        margin-left: 10%;
    }

    .webdev-grid-item:nth-child(7)::before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        left: -2px;
        top: -9px;
        background: #707070;
        transform: translate(-50%, 0%);
    }
    .webdev-grid-item:nth-child(3) {
        border-left: 2px solid #707070;
    
    }

}


@media screen and (min-width:601px) {
    .webdev-grid-item:last-child::after {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        right: -8px;
        top: -9px;
        background: #707070;
        transform: translate(-50%, 0%);
    }
    .webdev-grid-item {
        min-height: 200px;
    }
    .side-space{
        margin-left: 20%;
    }

    .webdev-grid-container {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 100px;
        margin-bottom: -80px;

    }

    .webdev-grid-item:nth-child(3) {

        border-right: 2px solid #707070;
    }

    .webdev-grid-item:nth-child(4) {
        border-left: 2px solid #707070;
    }


    .webdev-grid-item:last-child {
        grid-row: 4/5;
        grid-column: 1/2;

    }

    .arch-grid-container {
        margin: 35px auto;
        width: 90%;
    }
    .webdev-img {
        width: 60px;
        height: 60px;
    }

    .webdev-grid-circle {
        width: 120px;
        height: 120px;
    }



    .mob-grid-container {
        grid-template-columns: repeat(3, 200px);
    }

    .mobtech-grid-container,.webtech-grid-container {
        grid-template-columns: repeat(3, 200px);
    }

    .mob-grid-img {
        width: 150px;
    }
    .webdev-content {
        margin-top: 65px;
        height: calc(100% - 65px);
    }


    .center-object {
        position: unset;
        left: 0;
    }

    .service-border {
        width: 140px;
        height: 140px;
    }

    .nunc-icon {
        margin-left: 0%;
    }

    #case_studies_carousel .slick-next {
        right: -3% !important;
    }

    #case_studies_carousel .slick-prev {
        left: -3% !important;
    }

    #case_studies_carousel .slick-prev:before,
    #case_studies_carousel .slick-next:before {

        bottom: 0;
    }

    .chatbot a>img {
        width: 160px;
    }

    .our-latest-work-item {
        position: relative;
        width: 100%;
        min-height: 100px;
    }

    #banner_carousel .slick-img,
    .hero-container .banner-img {
        height: 600px;
    }

    .display1 {
        font-size: 5rem;
    }

    .display2 {
        font-size: 5rem;
    }

    .insights-box {
        width: 60%;
    }

    #our_latest_work .grid-container {
        margin: 0px 70px;
    }

    .our-latest-work-wrapper {
        padding-top: 6.8rem;
    }

    .awards-section img {
        width: auto;
        height: auto;
        margin: 1rem 2rem;
    }

    .more-mob-btn {
        display: none;
    }

    .our-latest-work-content {
        margin-top: 90px;
        height: calc(100% - 90px);
    }

    #case_studies_carousel .slick-next,
    #case_studies_carousel .slick-prev {
        bottom: 0;
    }

    .read_more {
        font-size: 1.5rem;
        font-family: "Medium";

    }

    .our-latest-work-circle {
        width: 100px;
        height: 100px;
    }

    .our-latest-work-circle img {
        width: 80px;
        height: 80px;
    }

    /* .para,
    .p-para {
        text-align: center;
    } */

}



@media only screen and (max-width:768px) {
    .custom-big .custom-dropdown {
        margin-left: 0 !important;
    }

    .custom-dropdown,
    .dropdown {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {

    .custom-dropdown {
        margin-left: 0;
    }
    .bigdata-tr{
        display: flex;
        flex-wrap: wrap;
    }
    

}

@media only screen and (min-width:768px) {


    .webdev-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }


    .mobility_bg.desktop_img,
    .sf_bg.desktop_img,
    .web_bg.desktop_img {
        display: block;
    }

    .mbl_img {
        display: none;
    }

    /* .arch-grid-container {
        margin: 35px auto;
        width: 60%;
    } */

    .our-latest-work-circle img {
        width: 120px;
        height: 120px;
    }

    .our-latest-work-circle {
        width: 140px;
        height: 140px;
    }

    .content-space {
        padding: 80px 0;
    }

    .mob-dev-container {
        grid-template-columns: repeat(5, 1fr);

    }

    .salesforce-services {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .services-item:last-child {
        position: unset;
        left: 0%;
    }

    .sf_bg,
    .mobility_bg,
    .web_bg {
        height: 100%;
        background-position: top right;
    }


    .clients-left,
    .clients-right {
        display: block;
        width: 20%;
    }

    .banner-container {
        padding-bottom: 40px;
    }

    .flex-item-1 {
        width: 50%;
        margin-bottom: 75px;

    }

    .flex-item-2 {
        padding: 0;
        width: 50%;
    }

    .what-our-clients-message {
        width: 55%;
        margin: auto;
    }

    .navbar-nav li.custom-big:hover>ul.dropdown-menu.custom-dropdown {
        display: flex !important;
        margin-right: -300%;
        max-height: unset;
        overflow-y: unset;

    }

    .navbar-nav li:hover>ul.dropdown-menu {
        display: block;
    }

    .service-white-bg {
        width: 115px;
        height: 115px;

    }

    .service-border:hover .service-white-bg {
        width: 120px;
        height: 120px;
    }

}

@media screen and (min-width:992px) {
    .our-latest-work-wrapper {
        padding-top: 9.8rem;
    }

    .our-latest-work-circle {
        width: 180px;
        height: 180px;
    }

    .our-latest-work-circle img {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 1200px) {

    .custom-container {
        max-width: 1000px !important;
        margin: 0 auto;

    }

}